@using LoginWebApp.Core.ViewModel;
@model RegisterViewModel



<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .registration-form {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="registration-form">
            <h3 class="text-center mb-4">User Registration</h3>
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" asp-for="MiddleName" placeholder="Middle Name">

                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="Date of Birth">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Nationality" class="control-label">Nationality:</label>*@
                    <select asp-for="Nationality" asp-items="ViewBag.Nationalities" class="form-control" required>
                        <option value="">Select Nationality</option>
                    </select>
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="UserName" placeholder="Username">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
