@using LoginWebApp.Core.ViewModel;
@model TaskViewModel




<form asp-controller="Home" asp-action="Task" method="post">
    <div class="form-group">
        <label for="Title">Task Title:</label>
        <input asp-for="Title" class="form-control" placeholder="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Description">Task Description:</label>
        <textarea asp-for="Description" class="form-control"  placeholder="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Priority">Priority:</label>
        <select asp-for="Priority" class="form-control">
            <option value="Critical">Critical</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="EstimatedHours">Estimated Hours:</label>
        <input asp-for="EstimatedHours" class="form-control" step="0.01"   placeholder="EstimatedHours"/>
        <span asp-validation-for="EstimatedHours" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Task</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}